hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
.player{
    position: absolute;
    bottom: 10px;
    right: 16px;
    
    
}
.mensagem{
    position: absolute;
    bottom: 20px;

}
.chatContent{
    height: 370px;
    width: 900px;
}
.icon{width: 80px;

}
.chat{top:30px;}
body{
    background-color: #212121 ;
}
.avatares{
    width:100px;
}
#fichaGame{
    background-image: url('../img/texture.jpg');

}