hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
.player{
    position: absolute;
    bottom: 10px;
    right: 16px;
    
    
}
.mensagem{
    position: absolute;
    bottom: 20px;

}
.chatContent{
    height: 370px;
    width: 900px;
    overflow: scroll;
}
.icon{width: 80px;

}
.chat{top:30px;}
body{
    background-color: #212121 ;
}
.avatares{
    width:100px;
}
#fichaGame{
    background-image: url('../img/texture.jpg');

}

.box-blue{
    background-color: #12B2B2;
    color: #FFF;
    margin: 2%;
    position: relative;
    background: #12B2B2;
    border: 4px solid #12B2B2;
    padding: 2%;
    border-radius: 5px;
    text-align: left;
}
.box-blue:after, .box-blue:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

.box-blue:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #12B2B2;
    border-width: 11px;
    margin-top: -10px;
}

.box-gray {
    margin: 2%;
    position: relative;
    color: #FFF;
    /*font-weight: bold;*/
    background: #717e84;
    border: 4px solid #717e84;
    padding: 2%;
    border-radius: 5px;
    text-align: right;
}
.box-gray:after, .box-gray:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

.box-gray:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #717e84;
    border-width: 11px;
    margin-top: -10px;
}

.msg-container{
  max-height:350px;
  overflow-y:scroll;
  background-color: white;
}

.msg-label{
    background-color: #387ef5;
    color: #FFF;
    z-index: 2;
}

.pointer{
    cursor: pointer;
}
#modalMapa{
    width: 70% !important ; height: 70% !important;
    border: 4px double #B76F1C;
border-radius: 20px;

}
#dado{
    width: 200px !important ; height: 300px !important;
    border: 5px double rgba(201,12,4,0.49);
border-radius: 40px 40px 40px 40px;
}
.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #660000, #CC0000, #660000);
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #191919; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }