body{
    background-image: url('../img/bg.jpg');
    background-size: 100%;
}
.avatar{
    width: 150px;
}
.item{
    width:100px;
}
.char{
    position: absolute;
    right: 10px;
   
    padding: 0px;
}
.audio{
    position: absolute;
    right: 0px;
    bottom: 0px;
       
    padding: 0px;

}
audio{
    opacity: .4;
    width: 150px;
    height: 40px;
}