

body{
    background: url('../img/bg2.jpg') no-repeat fixed;
    background-size: cover;
    background-color: #0c0c0c;
}

.degrade2{
     background-image: linear-gradient(rgb(0,0,0,0.5), rgba(40,40,40,0.4));
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
}



.painel{
   margin-top: 100px;
}
.avatar{
    width: 150px;
}
.stroke{
    top:0;
    width: 100%;
    position: absolute;
}
#modal4{
    background-image: url('../img/store.jpg');
}
#ficha{
    background-image: url('../img/texture.jpg');

}
.degrade{
    width: 100%;
    opacity: .6;
    position: absolute;
}
.item{
    width:100px;
}
.char{
    position: absolute;
    right: 10px;
   
    padding: 0px;
}
.audio{
    position: absolute;
    right: 0px;
    bottom: 0px;
       
    padding: 0px;

}
audio{
    opacity: .4;
    width: 150px;
    height: 40px;
}
.logo{
    width:200px;
    z-index: 5;
}
.board{width: 100%;
position: absolute;
z-index: 1;}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
}